body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

label {
  display: block;
}

h1.main {
  color: black;
  font-size: 35px;
  font-weight: bold;
  line-height: 48px;
  padding: 20px;
  text-align: center;
  margin: 0;
}

h2.sub {
  color: black;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

h2.sub:hover {
  color: #3f50b5;
}

h5.sub {
  color: black;
  font-size: 12px;
  font-weight: normal;
  line-height: 35px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

/* nav {
  background-color: rgb(40, 129, 208);
} */

/* nav a {
  display: inline-block;
  margin: 1em;
  color: white;
} */

form div {
  /* margin: 1em; */
  display: inline-block;
}

input {
  border-radius: 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid #3f50b5;
  background-color: rgb(240, 240, 250);
  min-height: 25px;
  min-width: 200px;
}

.signIn-inputs {
  padding: 10px;
}

.oauth-inputs {
  display: flex;
  padding: 10px;
}

#oauth-linkedin {
  padding: 10px;
}

#oauth-google {
  padding: 10px;
}

.container {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 70vh;
  height: 100%;
  margin-bottom: 20px;
  min-width: 500px;
}

.main-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  width: 240px;
}

.logo-login {
  max-width: 150px;
}

.alignInputs {
  padding-top: 30px;
}

.alignInputs label {
  float: left;
  clear: left;
  width: 500px;
  text-align: right;
  margin-bottom: 20px;
}

.alignInputs input {
  margin-left: 15px;
}

.clearBoth {
  clear: both;
}

.singleItem h3 {
  color: black;
  text-align: center;
  text-shadow: 1px 2px lightgray;
}

.singleItem {
  border: 1px lightgray solid;
  padding: 10px;
  padding-top: 5px;
  max-width: 70%;
  text-align: center;
  margin-left: 15%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 7px;
  box-sizing: border-box;
  min-width: max-content;
  white-space: nowrap;
}

.allJobs {
  border: 1px lightgray solid;
  padding: 10px;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 4px;
  min-width: 350px;
}

.allJobs h3 {
  color: black;
  text-align: center;
  text-shadow: 1px 2px lightgray;
}

.allUsers {
  border: 1px lightgray solid;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

#allJobPage {
  display: flex;
  flex-direction: row;
}

#allJobs {
  margin-left: 6em;
  width: 50%;
}

.individual-job-cards {
  border: 1px lightgray solid;
  box-sizing: content-box;
  border-radius: 7px;
  margin: 20px;
  padding-left: 20px;
  white-space: nowrap;
  min-width: max-content;
  max-width: 70%;
}

#singleJobRight {
  min-width: 50%;
}

#current-applicants {
}

#addJob {
  position: relative;
  height: 70vh;
}

#addCompany {
  position: relative;
  height: 70vh;
}

#singleUserProfile {
  position: relative;
  min-height: 70vh;
  height: 100%;
  padding-bottom: 20px;
}

#singleJob {
  position: sticky;
  top: 1em;
  overflow-y: scroll;
  scroll-behavior: auto;
  max-height: 80vh;
  /* border: 1px lightgray solid;
  border-radius: 7px;
  padding: 10px;
  margin-top: 20px; */
}

.current-applicants {
  margin-left: 15%;
}

#singleCompany {
  position: relative;
  min-height: 70vh;
  height: 100%;
  padding-bottom: 20px;
}

.updateUserPage {
  display: flex;
  align-items: top;
  justify-content: space-evenly;
  min-height: 70vh;
  height: 100%;
}

.currentUserInfo {
  padding-top: 30px;
}

.user-profile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#update-profile-button {
  padding-left: 10px;
  padding-right: 10px;
}

.useList {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.userJobList {
  border-bottom: 1px solid #3f50b5;
}
/* navbar / header */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #95b8f3;
  padding: 0;
  width: 100%;
}

.sub-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: auto;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #95b8f3;
}

.inlineComponents {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
}

/* dropdown button */
.dropdown-link {
  border: none;
  padding: 10px;
  font-size: 1em;
}

/* dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background-color: #89abe3ff;
  position: absolute;
  width: 100%;
  bottom: -1;
  flex-shrink: 0;
  margin-top: auto;
}

.sub-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: auto;
  padding-right: 10px;
  /* width: 45%; */
}

.footer-name {
  display: flex;
  align-self: center;
  white-space: nowrap;
  padding-top: 8px;
}

/* searchbar */
.Menubar {
  box-shadow: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: 'relative';
  width: '100%';
  padding: 50px;
  background-image: url('/img/comp-stock.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

/* .search-jobs-bar::-webkit-InputBase-placeholder {
  color: black;
} */

.search-jobs-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-right: 15px;
  border-radius: 5px;
  border: 2px solid #eeeeee;
  height: 50px;
  background-color: #ffffff;
  opacity: 0.8;
}

.search-location-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  height: 50px;
  background-color: #ffffff;
  opacity: 0.8;
}

.auth-form {
  position: relative;
  height: 100vh;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  .allJobs {
    min-width: 100%;
    margin-left: 25%;
  }
  .container {
    min-width: 90%;
  }
}

/* Entire chat area  */
.chat-room {
  display: flex;
  position: 1;
  height: 89vh;
  width: 100%;
}

/* removes bullets from lists */
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

/* Channel List  */
.channel-list {
  background-color: #95b8f3;
  /* border-radius: 5px; */
  height: 105%;
  width: 15%;
  padding: 8px;
  border: 1px solid gray;
  min-width: max-content;
  max-height: 90vh;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: auto;
  position: 1;
}

.channel-list-user-name {
  white-space: nowrap;
  font-size: medium;
  padding: 3px;
  font-size: large;
}

.channel-active-chats {
  padding: 2px;
  position: 1;
}

.channel-name {
  color: black;
  display: inline;
  white-space: nowrap;
  padding: 10px;
}

/* message box area */
.media-center {
  width: 85%;
  padding: 0;
}

.center-container {
  padding-left: 0;
  padding-right: 0;
}

.center-typography {
  background: rgba(244, 244, 244, 0.2);
  /* box-shadow: 2px 4px #478FFF; */
  height: 80vh;
}

.center-typography h4 {
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

/* Message List */
.message-list {
  height: 70vh;
  max-height: 70vh;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: auto;
  display: flex;
  flex-direction: column;
  padding: 8px;
  position: 1;
}

.message-body {
  display: flex;
  position: 1;
}

.message-body .user-image img {
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  position: 1;
}

.username-image {
  display: flex;
  align-items: top;
}

.username-image h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.username-image span {
  font-size: 13px;
}

.message-content {
  padding-left: 5px;
}

/* New Message Input Field */
.new-message-form {
  position: relative;
}

.new-message-div {
  width: 100%;
  display: flex;
  align-items: center;
  max-height: 55px;
}

.new-message-input {
  width: 100%;
  position: 1;
}

.message-btn {
  height: 60px;
  position: 1;
}
